@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'assets/fonts/inter/inter.css';

@layer base {
  body {
    @apply bg-gray-200;
  }
}

.stripes {
  background: repeating-linear-gradient(
    0deg,
    theme('colors.white'),
    theme('colors.white') 2px,
    transparent 2px,
    transparent 30px
  );
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
